<div class="container mb-3">
  <div class="container col-8 mt-3">
    <h1>REPORTES</h1>
    <p id="parrafo">
      Reporte que genera la sumatoria de sueldos netos agrupado por área, segun
      un periodo determinado
    </p>
  </div>
  <div class="container col-8">
    <form [formGroup]="formulario">
      <div class="row col-12">
        <div class="mb-3 col-4">
          <label class="form-label">Año</label>
        </div>
        <div class="mb-3 col-4">
          <label class="form-label">Mes</label>
        </div>
      </div>

      <div class="row col-12">
        <div class="mb-3 col-4">
          <input
            type="number"
            class="form-control"
            formControlName="ano"
            maxlength="4"
          />
        </div>
        <div class="mb-3 col-4">
          <select class="form-control" formControlName="mes">
            <option [ngValue]="m.numero" *ngFor="let m of meses">
              {{ m.mes }}
            </option>
          </select>
        </div>
        <button class="btn btn-dark col-4" (click)="generar()">GENERAR</button>
      </div>
      <div class="row col-12">
        <div class="mb-3 col-4">
          <small
            class="text-danger"
            *ngIf="
              formulario.get('ano')?.invalid && formulario.get('ano')?.touched
            "
            >El año es requerido</small
          >
        </div>
        <div class="mb-3 col-4">
          <small
            class="text-danger"
            *ngIf="
              formulario.get('mes')?.invalid && formulario.get('mes')?.touched
            "
            >El mes es requerido</small
          >
        </div>
      </div>
    </form>

    <div class="container" id="canvas-wrapper">
      <canvas id="pieChart"></canvas>
    </div>
  </div>
</div>
